# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [1]:
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')

Hello!

In [ ]:
#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [4]:
print('watch for the cat')

watch for the cat

#### Mesbah's Notebook editing
- [ ] Edit **Mesbah's** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

In [11]:
#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

In [15]:
## comments
## create a code comment that identifies this notebook, containing your name and the date
## Mesbah's Jupyter notebook, 10-30-2019

In [23]:
print('[] print Md. Mesbahuddin Ahmed')
print('[] print is using python!')

[] print Md. Mesbahuddin Ahmed
[] print is using python!

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [24]:
# [ ] print your name
print("Md. Mesbahuddin Ahmed")
# [ ] print "is using Python"
print("is using python")

Md. Mesbahuddin Ahmed
is using python

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [25]:
# [ ] create a variable your_name and assign it a sting containing your name
myName = "Md. Mesbahuddin Ahmed"
#[ ] print your_name

print(myName)

Md. Mesbahuddin Ahmed

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [26]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song = "This is heaven" 
shoe_size = "10"
lucky_number = "6"

# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song, shoe_size, lucky_number)

This is heaven 10 6

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [28]:
# [ ] print favorite_song with description
print("My favorite song is " + favorite_song)

# [ ] print shoe_size with description
print("My shoe size is " + shoe_size)

# [ ] print lucky_number with description

print("My lucky number is " + lucky_number)

My favorite song is This is heaven
My shoe size is 10
My lucky number is 6

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [34]:
# assign favorite_lucky_shoe using

favorite_lucky_shoe = "For singing " + favorite_song + " " + shoe_size + " times, " + "you wiil be fined $" + lucky_number
print(favorite_lucky_shoe)

For singing This is heaven 10 times, you wiil be fined $6

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [44]:
# [ ] print a diagonal using "*"
print("*")
print(" *" )
print("  *")
print("   *")
print("    *")
print("     *")
print("      *")
print("       *")
print("        *")


# [ ] rectangle using "*"
print("********************")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")
print("********************")


# [ ] smiley using "*"print("*")
print("  *" )
print("    *")
print(" *   *")
print("     *")
print(" *  *")
print("   *")
print(" *")

*
 *
  *
   *
    *
     *
      *
       *
        *
********************
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
*                  *
********************
  *
    *
 *   *
     *
 *  *
   *
 *

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [45]:
# [ ] display the type of 'your name' (use single quotes)

type('your name')

str

In [46]:
# [ ] display the type of "save your notebook!" (use double quotes)

type("save your notebook!")

str

In [47]:
# [ ] display the type of "25" (use quotes)

type("25")

str

In [48]:
# [ ] display the type of "save your notebook " + 'your name'

type("save your notebook " + 'your name')

str

In [49]:
# [ ] display the type of 25 (no quotes)

type(25)

int

In [50]:
# [ ] display the type of 25 + 10 
type(25 + 10)

int

In [51]:
# [ ] display the type of 1.55

type(1.55)

float

In [52]:
# [ ] display the type of 1.55 + 25

type(1.55 + 25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [53]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [54]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [56]:
# [ ] display the type of student_age
type(student_age)

int

In [57]:
# [ ] display the type of student_grade
type(student_grade)

float

In [59]:
# [ ] display the type of student_age + student_grade

type(student_age + student_grade)

float

In [60]:
# [ ] display the current type of student_id

type(student_id)

str

In [61]:
# assign new value to student_id 
student_id = "XYZ-111-234"
print(student_id)
type(student_id)
# [ ] display the current of student_id

XYZ-111-234

str

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [62]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 1
y = 222
z = 55

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [81]:
xyz_sum = x + y + z
print(xyz_sum)

278

### Errors
- **[ ]** troubleshoot and fix the errors below

In [65]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [67]:
# [ ] fix the error 
print("strings have quotes and variables have names")

strings have quotes and variables have names

In [69]:
# [ ] fix the error 
print( "I have $" + str(5))

I have $5

In [70]:
# [ ] fix the error 
print('always save the notebook')

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [74]:
# [ ] ASCII ART
print("*                  *")
print("**                **")
print("*  *             * *")
print("*    *         *   *")
print("*      *     *     *")
print("*         *        *")
print("*                  *")
print("*                  *")
print("*                  *")
print("*                  *")

*                  *
**                **
*  *             * *
*    *         *   *
*      *     *     *
*         *        *
*                  *
*                  *
*                  *
*                  *

In [80]:
# [ ] ASCII ART
print("*                  *")
print("**                **  *")
print("*  *             * *    *")
print("*    *         *   *     *")
print("*      *     *     *      *")
print("*         *        *      *")
print("*                  *     *")
print("*                  *    *")
print("*                  *   *")
print("*                  * *")

*                  *
**                **  *
*  *             * *    *
*    *         *   *     *
*      *     *     *      *
*         *        *      *
*                  *     *
*                  *    *
*                  *   *
*                  * *

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft